@font-face {
    font-family: ReemKufi;
    src: url(../font/ReemKufi-Regular.ttf) format('truetype');
  
}

@font-face {
    font-family: NunitoSans;
    src: url(../font/NunitoSans-Regular.ttf) format('truetype');
   
}