header{
    min-height: 708px;
}

.name{
    margin-top: 42px;
    font-family: ReemKufi;
    font-size: 18px;
    text-align: left;
    color: #1a1315;
    border-bottom: #1a1315 1px solid;
    width: 135px;
  }

.nav{
    margin-top: 42px;
   
}
.nav li{
    margin-right: 20px;
    color: #1a1315;
}
.nav li a{
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;   
}
.nav li a:hover{
    color: #1a1315;
    cursor: pointer;
    text-decoration: none;
}
.nav_language{
    margin-top: 42px;
}
.language{
    display: inline-block;   
    font-family: ReemKufi;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #1a1315;
}
.language:hover{
    color: #1a1315;
    text-decoration: none;
}
.language:visited{
    color: #1a1315;
    text-decoration: none;
}
.nav_profile{
    display: flex;
    flex-direction: row-reverse;
}
.nav_profile li{
    list-style-type: none;
    display: inline-block;
    margin-top: 42px;
    margin-left: 25px;
}


.welcome{
    min-height: 642px;
}
.welcome_row_1{
    margin-top: 60px;
}
.welcome_hello{
    margin-top: 40px;
    font-family: NunitoSans;
    font-size: 24px;
    font-weight: 200;
        text-align: left;
    color: #000;
}
.welcome h1{
    display: inline-block;
    height: 100px;
    margin-top: 30px;
    font-family: NunitoSans;
    font-size: 84px;
    font-weight: normal;
    line-height: 0.95;    
    text-align: left;
    color: #8d0025;
}
.welcome h2{
    margin-top: 50px;
    font-family: NunitoSans;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.09;
    text-align: left;
    color: #1a1315;
}
.welcome_text{
    margin-top: 40px;
    font-family: NunitoSans;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.buttons{
    margin-top: 43px;
}
.buttons .catalog{
    display: inline-block;
    margin-right: 40px;
    width: 210px;
    height: 48px;
    background-color: #a52a3f;
    border: 1px solid #a52a3f;
}
.buttons .order_welcome{
    display: inline-block;
    margin-right: 40px;
    width: 210px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #a52a3f;
}

.catalog >span{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-family: NunitoSans;
    font-size: 24px;
    font-weight: normal;
    flex-direction: row;
}
.order_welcome >span{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    color: #a52a3f;
    text-decoration: none;
    font-family: NunitoSans;
    font-size: 24px;
    font-weight: normal;
    flex-direction: row;
}
.buttons a:hover{
    text-decoration: none;
}
.buttons a:visited{
    text-decoration: none;
}


.wrapper_img{
    width: 100%;
    min-height: 530px;
    margin-top: 60px;
    background-image: url(../img/dasha_main.png);
}


.social_networks{
    margin-top: 22px;
}
.social_networks ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
}

.social_networks ul::before{
    content: "";
    width: 80px;
    height: 0.5px;
    background-color: #1a1315;
    margin-top: 14px;
}
.social_networks ul::after{
    content: "";
    width: 80px;
    height: 0.5px;
    background-color: #1a1315;
    margin-top: 14px;
}




.my_work{
    min-height: 434px;
}
.my_work h2{
    display: inline-block;
    text-align: left;
    margin-top: 150px;
    width: 450px;
    height: 70px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #430415;
}

.my_work_picture_1{
    margin-top: 40px;
}

.my_work_picture_1 img{
    display: inline-block;
    width: 360px;
}

.my_work_picture_2{
    margin-top: 130px;
}

.my_work_picture_2::after{
    content: "";
    width: 393px;
    height: 1px;
    background-color: #1a1315;
    display: inline-block;
    position: absolute;
    top: 330px;
    left: -217px;
}

.my_work_picture_2 img{
    display: inline-block;
    width: 161px;
}
.my_work_text_wrapper{
    margin-top: 33px;
    padding-left: 39px;
}

.my_work_text_wrapper::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 188px;
    width: 1px;
    height: 179px;
    opacity: 0.9;
    background-color: #1a1315;
}

.my_work_text_wrapper_text_one h3{
    font-family: NunitoSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #430415;
}

.my_work_text_wrapper_text_one p{
    display: inline-block;
    margin-top: 16px;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}

.my_work_text_wrapper_text_two{
    margin-top: 34px;
}
.my_work_text_wrapper_text_two h3{
    font-family: NunitoSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #430415;
}

.my_work_text_wrapper_text_two p{
    display: inline-block;
    margin-top: 16px;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}

.last_works{
    margin-top: 150px;
}

.last_works_text{
    margin-top: 82px;
}
.last_works_text::after{
    display: inline-block;
    content: "";
    width: 0.5px;
    height: 193px;
    transform: rotate(0rad);
    opacity: 0.9;
    background-color: #1a1315;
    position: absolute;
    top: 281px;
    left: 260px;
}
.last_works_text h3{
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #430415;
}
.last_works_text p{
    display: inline-block;
    width: 237px;
    height: 80px;
    margin-top: 22px;
    font-family: NunitoSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.last_works_big_picture::after{
    display: inline-block;
    content:"";
    width: 287px;
    height: 0.5px;
    background-color: #1a1315; 
    position: absolute;
    top: 445px;
    left: 15px;
}





.last_works_big_picture img{
 width: 507px;
}
.last_works_big_picture p{
    display: inline-block;
    margin-top: 10px;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.last_works_small_pictures_wrapper p{
    display: inline-block;
    margin-top: 10px;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.small_picture>img{
    width: 255px;
}


.questions{
    margin-top: 150px;
}
.questions h2{
    display: inline-block;
    width: 266px;
    height: 40px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #430415;
}
.wrapper_questions{
    display: flex;
    justify-content: space-between;
    
    padding: 20px 0px;
}
.questions_1{
    border-top:#1a1315 solid 1px;
    border-bottom:#1a1315 solid 1px;
}
.questions_2, .questions_3, .questions_4{
    border-top:#1a1315 solid 1px;
    
}
.questions_5{
    border-top:#1a1315 solid 1px;
    border-bottom:#1a1315 solid 1px;
}
.wrapper_questions > .text{
    font-family: NunitoSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}

.answer_questions{
    padding: 20px 210px 20px 107px;
}

.order{
    height: 504px;
    margin-top: 198px;
    background-color: #ffedf0;
}

.order_picture{
    margin-top: 85px;
    width: 540px;
    height: 334px;
    background-color: #fff;
    padding: 45px 101px 45px 40px;
    position: relative;
    z-index: 10;
}
.order_picture h3{
    width: 452px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #430415;
    margin-bottom: 0;
}

.order_picture p{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 0;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #1a1315;
    position: relative;
    z-index: 10;
   
}
.order_wrapper{
    
}
.order_2{
    display: inline-block;
    width: 210px;
    height: 48px;
    border: solid 1px #a52a3f;
    margin-top: 20px;
}
.order_2:hover{
   text-decoration: none;
}
.order_welcome_span{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    color: #a52a3f;
    text-decoration: none;
    font-family: NunitoSans;
    font-size: 24px;
    font-weight: normal;
    flex-direction: row;
}

.order_imgs_one{
    position: absolute;
    top: -75px;
    left: -80px;
    z-index: 5;
}
.order_imgs_two{
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 58px;
}

footer{
    margin-top: 170px;
    min-height: 156px
}
.wrapper_footer{
    border-top:#070707 solid 1px;
}

.footer_name, .footer_telephone, .footer_email{
    margin-top: 40px;
}
.footer_telephone a{
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.footer_telephone a:hover{
    color: #1a1315;
    text-decoration: none;
}
.footer_telephone a:visited{
    color: #1a1315;
    text-decoration: none;
}
.footer_email a{
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
}
.footer_email a:hover{
    color: #1a1315;
    text-decoration: none;
}
.footer_email a:visited{
    color: #1a1315;
    text-decoration: none;
}



.social_networks_footer{
    margin-top: 40px;
}
.social_networks_footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0px;
}

.social_networks_footer img{
  
    margin-left: 30px;
}

.footer_name span{
    font-family: ReemKufi;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1315;
    border-bottom:#000 solid 1px;
}